@use '../abstracts' as *;

body {
  font-family: $ff-primary;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.title_wrapper {
  background-image: url('../assets/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 1em;
  position: relative;
  z-index: 5;
}

.title {
  color: white;
  padding-top: 1em;
  margin-bottom: 1em;
  font-weight: $fw-medium;
}

@media (min-width: 1440px) {
  .title_wrapper {
    background-image: url('../assets/pattern-bg-desktop.png');
  }
}
