@use '../abstracts/' as *;

.input-ip__wrapper {
  position: relative;
  margin-bottom: 10em;
  max-width: 30rem;
}

.input-ip {
  font-family: $ff-primary;
  font-size: inherit;
  width: 100%;
  padding: 1em 1.5em;
  border: transparent;
  border-radius: 1em;
  outline: transparent;
}

.arrow-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15%;
  border: transparent;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: black;
  transition: background-color 200ms ease-in-out;
  &:focus, &:hover {
    cursor: pointer;
    background-color: $clr-darkgray;
  }
}
